<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ INFORMAÇÕES SOBRE LICENÇA
  ~
  ~ Open Software License (OSL 3.0).
  ~ http://opensource.org/licenses/osl-3.0.php
  ~
  ~ DISCLAIMER
  ~
  ~ Não edite este arquivo caso você pretenda atualizar este módulo futuramente
  ~ para novas versões.
  ~
  ~ @category      Contardi
  ~ @package       Contardi_Installments
  ~ @license       http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  ~ @author        Thiago Contardi
  -->

<config>
    <modules>
        <Contardi_Installments>
            <version>1.2.2</version>
        </Contardi_Installments>
    </modules>
    <global>
        <blocks>
            <installments>
                <class>Contardi_Installments_Block</class>
            </installments>
        </blocks>
        <models>
            <installments>
                <class>Contardi_Installments_Model</class>
            </installments>
        </models>
        <helpers>
            <installments>
                <class>Contardi_Installments_Helper</class>
            </installments>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <installments>
                    <file>contardi/installments.xml</file>
                </installments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Contardi_Installments>
                    <files>
                        <default>Contardi_Installments.csv</default>
                    </files>
                </Contardi_Installments>
            </modules>
        </translate>
    </frontend>
    <default>
        <installments>
            <settings>
                <texto_desconto_vista>à vista no boleto</texto_desconto_vista>
            </settings>
        </installments>
    </default>
</config>
